{#
/**
 * @file
 * Default theme implementation to display a node..
 * Available variables:
 * - element: AddThis basic button to be rendered
 *
 */
#}



<a class="addthis_button {{ element['#extra_classes'] }} {{ element['#size'] }} " >
  {{ element }}
</a>
